body {
    margin: 0;
    padding: 0;
    background: url("./assets/memory_game_background.jfif");
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
